<header class="header header-center">
  <div class="container-fluid">
    <!-- Logos-->
    <div class="inner-header">
      <%= link_to "Kanji Yomoda", root_path, class: "inner-brand" %>
    </div>
    <!-- Navigation-->
    <div class="inner-navigation collapse">
      <div class="inner-navigation-inline">
        <div class="inner-nav">
          <ul>
            <!-- Home-->
            <li class="menu-item-has-children menu-item-has-mega-menu">
              <%= link_to "Home", root_path %>
            </li>
            <!-- Home end-->
            <!-- Pages-->
            <li class="menu-item-has-children menu-item-has-mega-menu">
              <%= link_to "About Me", "/#1" %>
            </li>
            <!-- Pages end-->
            <!-- Portfolio-->
            <li class="menu-item-has-children">
              <%= link_to "Portfolio", portfolios_path %>
            </li>
            <!-- Portfolio end-->
            <!-- Blog-->
            <li class="menu-item-has-children">
              <%= link_to "Blog", blogs_path %>
            </li>
            <!-- Blog end-->

            <!-- login-->
            <li><%= link_to "Contact", "/#2" %></li>

            <li class="mobile-login"><%= login_helper_l %></li>


            <%= login_helper_r %>
          </ul>
        </div>
      </div>
    </div>
    <!-- Extra menu-->
    <div class="extra-nav">
      <%= login_helper %>
    </div>
    <!-- Mobile menu-->
    <div class="nav-toogle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div>
  </div>
</header>

