<div class="col-sm-3 blog-sidebar">


    <%= source_helper("alert alert-info") %>


  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I am Kanji Yomoda and student at a Aoyama Gakuin University, majoring in marketing in Japan. I'm also learning Ruby and rails by my self now.</p>
  </div>



  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
        <span><%= link_to topic.title, topic_path(topic) %></span>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>SNS</h4>
    <a target="_blank" href="https://github.com/yomoda07"><%= fa_icon "github", class: "fa-2x" %></a>／
    <a target="_blank" href="https://www.facebook.com/kanji.yomoda"><%= fa_icon "facebook", class: "fa-2x" %></a>／
    <a target="_blank" href="http://linkedin.com/in/kanji-yomoda"><%= fa_icon "linkedin", class: "fa-2x" %></a>
  </div>
</div>