<div class="col-sm-3 blog-sidebar">


    <%= source_helper("alert alert-info") %>


  <div class="sidebar-module sidebar-module-inset">
    <h4 class="center">About</h4>
    <p>This blog is a memorandum about learning web development, including Ruby on Rails, javascript, databese, and so on. </p>
  </div>



  <div class="sidebar-module">
    <h4 class="center">Tag</h4>
    <% @side_bar_topics.each do  |topic| %>
     <%= link_to topic.title, topic_path(topic), class: "topic-tag" %>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4 class="center">SNS</h4>
    <a class= "sns-tag" href="https://github.com/yomoda07"><%= fa_icon "github", class: "fa-2x" %></a>
    <a class= "sns-tag" href="https://www.facebook.com/kanji.yomoda"><%= fa_icon "facebook", class: "fa-2x" %></a>
    <a class= "sns-tag" target="_blank" href="http://linkedin.com/in/kanji-yomoda"><%= fa_icon "linkedin", class: "fa-2x" %></a>
  </div>
</div>