<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= @page_title %></title>
  <meta name="description" content="">
  <%= csrf_meta_tags %>

  <meta name="keywords" content="<%= @seo_keywords %>" />

  <!-- Web Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">

  <%= favicon_link_tag 'favicons/favicon.ico' %>

  <%= stylesheet_link_tag "css/font-awesome.min.css", :media => "all" %>
  <%= stylesheet_link_tag "css/linea-arrows.css", :media => "all" %>
  <%= stylesheet_link_tag "css/linea-icons.css", :media => "all" %>
  <%= stylesheet_link_tag "css/owl.carousel.css", :media => "all" %>
  <%= stylesheet_link_tag "css/magnific-popup.css", :media => "all" %>
  <%= stylesheet_link_tag "css/vertical.min.css", :media => "all" %>
  <%= stylesheet_link_tag "css/pace-theme-minimal.css", :media => "all" %>
  <%= stylesheet_link_tag "css/animate.css", :media => "all" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<!-- Layout-->
<div class="layout">

  <%= render "shared/application_nav" %>

  <!-- Wrapper-->
  <div class="wrapper">

        <%= yield %>

        <%= alerts %>

   <%= render 'shared/application_footer' %>

  <a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
</div>
  <!-- Wrapper end-->
</div>
<!-- Layout end-->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>
  <script src="ttps://maps.googleapis.com/maps/api/js?key=AIzaSyASofGl0InBKa2Da9LBTv1cLzYwv-bo02s&callback=initMap"></script>
</html>
